* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(2.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    font-size: 45px;
    color: #fff;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li:after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 05s;
}
.navbar ul li:after:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}
.content h1 {
    font-size: 35px;
    margin-top: 50px;
}
.content p {
    margin: 15px auto;
    font-weight: 100;
    line-height: 20px;
}
.button {
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
button:hover span {
    width: 100%;
}
button:hover{
    border: none;
}
/* Bagian Fitur */
#fitur {
    background: #fff;
    padding: 100px 0;
}

.fitur {
    text-align: center;
    margin-bottom: 40px;
}

.fitur i {
    font-size: 3em;
    margin-bottom: 20px;
}

.fitur h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
